@import "tailwindcss";

body {
    background-color: rgb(0, 0, 0);
}

.section-form {
    padding: 1rem;
    background-color: #F2F2F2;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-form h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
}


.section-form form  input,
.section-form form label {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-size: .8rem;

}

.section-form button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.25rem;
    font-size: .8rem;
    cursor: pointer;
}

.section-form button:hover {
    background-color: #0056b3;
}

.section-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    background-color: #f9f9f9;


}

.section-form label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
}

.section-posts {
    padding: 1rem;
    /* border-radius: 0.5rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    min-height: 100vh;
}

.section-posts h2 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #333;
}

.section-posts .post {
    padding: 0.5rem;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 4%;
    width: 100%;
}

.section-posts .post img {
    width: 100%;
    height: 90%;
    border-radius: 0.25rem;
    ;
    object-fit: cover;
    object-position: center;
}